/* ------------------------ Max Width 1440px ------------------------ */
@media (max-width: 1440px) {
#cs_section_1 {
    padding: 0;
    min-height: 600px;
}
#cs_section_1 .caption {
    top:10em;
}
.cs_sec_c {
    min-height: 600px;
}
.cs_sec_c .caption {
    top:30em;
}
}
/* ------------------------ Max Width 1366px ------------------------ */
@media (max-width: 1366px) {

}
/* ------------------------ Max Width 1280px ------------------------ */
@media (max-width: 1280px) {
footer .f_social li a {
    width: 26px;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
}
footer .f_tele {
    font-size:18px;
}
}
/* ------------------------ Max Width 1080px ------------------------ */
@media (max-width: 1080px) {

}
/* ------------------------ Max Width 1024px ------------------------ */
@media (max-width: 1024px) {
.cs_sec_c {
    min-height: 400px;
}
.cs_sec_c .caption {
    top: 17em;
}
footer .f_social li {
    margin:0px;
}
}
/* ------------------------ Max Width 966px ------------------------ */
@media (max-width: 966px) {
#cs_header .h_logo {
    text-align: right;
}
#cs_header .navbar {
    margin-top: 10px;
}
#cs_header #cs_menu .nav-item .nav-link {
    border-right:none;
    padding:10px;
}
#d_cart {
    display: none;
}
#m_cart {
    display: inline-block;
}
#cs_section_1 {
    min-height: 400px;
}
#cs_section_1 .caption {
    top: 5em;
}
#cs_section_1 .caption h1 {
    font-size: 70px;
}
#cs_section_1 .caption h1 span {
    font-size: 45px;
}
#cs_section_1 .caption p {
    font-size: 26px;
    margin-bottom: 10px;
}
#update_modal .modal-dialog {
    max-width: 600px;
}
#update_modal h1 {
    font-size: 45px;
    margin: 30px 0px 20px 0px;
}
#update_modal p {
    font-size: 20px;
}
#cs_sec5 .caption h2 {
    font-size: 36px;
}
#cs_sec5 .caption p {
    font-size: 20px;
    margin-bottom: 20px;
}
footer .f_img_list {
    justify-content: center;
    margin-top:20px;
}
footer .f_img_list li {
    flex-basis: calc(16.6667% - 15px);
}
#cs_about_page {
    min-height: 400px;
    padding:60px 0px;
}
#cs_about_page .caption {
    position: relative;
    width: 60%;
    top: 0;
}
#cs_about_page .caption h1 {
    font-size:45px;
}
#cs_about_page .caption p {
    font-size: 22px;
    line-height: 24px;
    margin-bottom:30px;
}
#cs_about_page_body .grid_l {
    margin-bottom: 50px;
}
#cs_about_page_body .grid_l h3 {
    font-size: 20px;
}
#cs_about_page_body .grid_l p {
    font-size: 18px;
}
#cs_shop_page .caption {
    text-align: center;
}
#cs_shop_page .caption h1 {
    font-size: 35px;
}
#cs_shop_page_body .section2 p {
    font-size:35px;
}
#cs_shop_page_body .pink_bg {
    padding: 20px 0px;
}
#cs_shop_page_body .pink_bg h3 {
    font-size:30px;
}
#cs_cart_page .grid_right {
    padding-left: 0;
    width:60%;
    margin:auto;
}
#cs_faq_page {
    min-height: 450px;
    padding: 100px 0px;
}
#cs_faq_page .caption {
    position: relative;
    top: 0;
    width: 50%;
}
#cs_faq_page .caption h1 {
    font-size:45px;
}
#cs_faq_page .caption p {
    font-size: 22px;
    line-height: 32px;
}
#cs_faq_page_body .grid_l p {
    font-size:18px;
}
}
/* ------------------------ Max Width 853px ------------------------ */
@media (max-width: 853px) {

}
/* ------------------------ Max Width 800px ------------------------ */
@media (max-width: 800px) {

}
/* ------------------------ Max Width 768px ------------------------ */
@media (max-width: 768px) {

}
/* ------------------------ Max Width 736px ------------------------ */
@media (max-width: 736px) {
body {
    font-size:13px;
}
.btn {
    font-size:13px;
}
.form-control {
    font-size:13px;
}
footer .f_logo {
    text-align: center;
}
footer .f_logo a {
    display: inline-block;
    height: 60px;
}
footer .f_logo a img {
    width: auto;
    height: 100%;
}
footer .f_links {
    text-align: center;
    margin-bottom:10px;
}
footer .f_links li {
    display: inline-block;
    margin: 0px 5px;
}
footer .f_tele {
    font-size: 16px;
    text-align: center;
}
footer .f_social {
    text-align: center;
}
#cs_copyright .grid_left {
    text-align: center;
}
#cs_copyright .grid_right {
    text-align: center;
}
}
/* ------------------------ Max Width 732px ------------------------ */
@media (max-width: 732px) {
.cs_sec_c .caption {
    top: 22em;
}
}
/* ------------------------ Max Width 720px ------------------------ */
@media (max-width: 720px) {

}
/* ------------------------ Max Width 690px ------------------------ */
@media (max-width: 690px) {

}
/* ------------------------ Max Width 667px ------------------------ */
@media (max-width: 667px) {

}
/* ------------------------ Max Width 640px ------------------------ */
@media (max-width: 640px) {

}
/* ------------------------ Max Width 603px ------------------------ */
@media (max-width: 603px) {
#update_modal h1 {
    font-size: 35px;
    margin: 10px 0px 10px 0px;
}
#update_modal p {
    font-size: 18px;
}
#update_modal form input {
    font-size: 13px;
}
#cs_section_1 {
    min-height: 300px;
}
#cs_section_1 .caption h1 {
    font-size: 60px;
}
#cs_section_1 .caption h1 span {
    font-size: 35px;
}
.cs_sec_c {
    min-height: 300px;
}
.cs_sec_c .caption {
    top: 16em;
}
.cs_sec_c .caption h2 {
    font-size:30px;
}
#cs_sec5 {
    padding:50px 0px;
}
#cs_sec5 .caption h2 {
    font-size: 30px;
    margin-bottom:10px;
}
#cs_sec5 .caption h3 {
    font-size:24px;
    margin-bottom:10px;
}
#cs_sec5 .caption p {
    font-size:16px;
}
#cs_about_page .caption {
    width:100%;
}
#cs_cart_page .grid_right {
    width:100%;
}
#cs_cart_page .grid_left .color_cs li a {
    width: 40px;
    height: 40px;
}
}
/* ------------------------ Max Width 600px ------------------------ */
@media (max-width: 600px) {
#cs_contact_page {
    padding: 50px 0px;
}
#cs_contact_page .caption h1 {
    font-size:30px;
}
#cs_contact_page .caption .white_box {
    padding: 15px;
}
#cs_contact_page .caption #form_2 .form_grp {
    margin-bottom:10px;
    margin-top:10px;
}
#cs_contact_page .caption #form_2 .form_grp div:nth-child(1),
#cs_contact_page .caption #form_2 .form_grp div:nth-child(2),
#cs_contact_page .caption #form_2 .form_grp div:nth-child(3) {
    width: 100%;
}
#cs_contact_page .caption label {
    font-size: 10px;
}
}
/* ------------------------ Max Width 598px ------------------------ */
@media (max-width: 598px) {

}
/* ------------------------ Max Width 568px ------------------------ */
@media (max-width: 568px) {
#cs_header .h_social {
    text-align: center;
}
#cs_header .h_call {
    font-size: 18px;
    text-align: center;
}
#cs_header .h_logo {
    text-align: center;
}
#cs_header .h_logo a {
    width: 160px;
}
#cs_section_1 {
    min-height: 250px;
}
#cs_section_1 .caption h1 {
    font-size: 50px;
}
#cs_section_1 .caption h1 span {
    font-size: 25px;
}
#cs_section_1 .caption p {
    font-size: 18px;
}
.cs_sec_c {
    min-height: 250px;
}
.cs_sec_c .caption {
    top: 12em;
}
.cs_sec_c .caption h2 {
    font-size: 25px;
}
#cs_about_page .caption h1 {
    font-size: 35px;
}
}
/* ------------------------ Max Width 533px ------------------------ */
@media (max-width: 533px) {

}
/* ------------------------ Max Width 480px ------------------------ */
@media (max-width: 480px) {
#update_modal .modal-dialog .modal-content .modal-body {
    padding:20px;
}
#update_modal .close {
    font-size: 20px;
    width: 30px;
    height: 30px;
    top: 5px;
    right: 5px;
}
#update_modal form .form_grp:first-child {
    width: 50%;
    font-family: 'helvetica';
}
footer .f_links {
    text-align: left;
}
footer .f_links li {
    display: block;
    margin: 0px;
}
footer .f_tele {
    text-align: left;
}
footer .f_social {
    text-align: left;
}
footer .f_img_list li {
    flex-basis: calc(33.3333% - 15px);
}
#cs_shop_page .caption h1 {
    font-size: 30px;
}
#cs_shop_page_body .section2 p {
    font-size:30px;
}
#cs_cart_page .grid_left .title,
#cs_cart_page .grid_left .price {
    font-size:24px;
}
#cs_faq_page .caption {
    width: 100%;
}
}
/* ------------------------ Max Width 414px ------------------------ */
@media (max-width: 414px) {

}
/* ------------------------ Max Width 412px ------------------------ */
@media (max-width: 412px) {

}
/* ------------------------ Max Width 384px ------------------------ */
@media (max-width: 384px) {

}
/* ------------------------ Max Width 375px ------------------------ */
@media (max-width: 375px) {

}
/* ------------------------ Max Width 360px ------------------------ */
@media (max-width: 360px) {

}
/* ------------------------ Max Width 320px ------------------------ */
@media (max-width: 320px) {

}